<!DOCTYPE html>
<html lang="en" ng-app="HairPlus">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />
    <title>Neon | Dashboard</title>
    <link rel="stylesheet" href="~/Content/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-core.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-theme.css">
    <link rel="stylesheet" href="~/Content/assets/css/neon-forms.css">
    <link rel="stylesheet" href="~/Content/assets/css/custom.css">
    <link href="~/Content/assets/css/skins/cafe.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/jquery-1.11.0.min.js"></script>

    <link href="~/Content/angular-toastr.css" rel="stylesheet" />
    <link href="~/Content/loading-bar.css" rel="stylesheet" />

    <script>$.noConflict();</script>
</head>
<body class="page-body " route-css-classnames>

    @RenderBody()


    <!-- Imported styles on this page -->
    <link rel="stylesheet" href="~/Content/assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Content/assets/js/rickshaw/rickshaw.min.css">

    <!-- Bottom scripts (common) -->
    <script src="~/Content/assets/js/gsap/main-gsap.js"></script>
    <script src="~/Content/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.js"></script>
    <script src="~/Content/assets/js/joinable.js"></script>
    <script src="~/Content/assets/js/resizeable.js"></script>
    <script src="~/Content/assets/js/neon-api.js"></script>

    <!-- Imported scripts on this page -->
    <!-- JavaScripts initializations and stuff -->
    <script src="~/Content/assets/js/neon-custom.js"></script>

    <!-- Demo Settings -->
    <script src="~/Content/assets/js/neon-demo.js"></script>

    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/neon-login.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/loading-bar.js"></script>
    <script src="~/Scripts/angularDateTimePicker.js"></script>
    <script src="~/Scripts/angularCheckListModel.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.js"></script>
    <script src="~/Scripts/ng-file-upload.js"></script>

    <script src="~/app/modules.js"></script>
    <script src="~/app/app.js"></script>

    <script src="~/app/interceptors/addToken.js"></script>
    <script src="~/app/interceptors/loginRedirect.js"></script>

    <script src="~/app/directives/routeCssClassName.js"></script>
    <script src="~/app/directives/sideBarCollapse.js"></script>
    <script src="~/app/directives/changePasswordValidator.js"></script>

    <script src="~/app/services/currentUser.js"></script>
    <script src="~/app/services/formEncode.js"></script>
    <script src="~/app/services/oauth.js"></script>
    <script src="~/app/services/userService.js"></script>
    <script src="~/app/services/patientService.js"></script>
    <script src="~/app/services/reminderService.js"></script>
    <script src="~/app/services/expenseService.js"></script>
    <script src="~/app/services/hairLossSolutionsService.js"></script>
    <script src="~/app/services/incomeService.js"></script>
    <script src="~/app/services/invoiceService.js"></script>

    <script src="~/app/controllers/loginController.js"></script>
    <script src="~/app/controllers/menuController.js"></script>
    <script src="~/app/controllers/dashboardController.js"></script>
    <script src="~/app/controllers/expenseController.js"></script>
    <script src="~/app/controllers/reminderController.js"></script>
    <script src="~/app/controllers/customersController.js"></script>
    <script src="~/app/controllers/surgicalPatientController.js"></script>
    <script src="~/app/controllers/incomeController.js"></script>
    <script src="~/app/controllers/nonSurgicalPatientController.js"></script>
    <script src="~/app/controllers/photosController.js"></script>
    <script src="~/app/controllers/invoiceController.js"></script>

</body>
</html>